<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Change Password</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>

<body>
    <header class="header">
        <div class="header-container">
            <h1>Welcome to BoxOffice</h1>
        </div>
    </header>

    <div class="login-container">
        <h2>Change Password</h2>


        <form method="POST">
            {{ form.hidden_tag() }}

            <label for="email">{{ form.email.label }}</label>
            {{ form.email() }}<br>

            <label for="old_password">{{ form.old_password.label }}</label>
            {{ form.old_password() }}<br>

            <label for="new_password">{{ form.new_password.label }}</label>
            {{ form.new_password() }}<br>

            <label for="confirm_password">{{ form.confirm_password.label }}</label>
            {{ form.confirm_password() }}<br>

            <div class="side_by_side">
                {{ form.submit() }}
                <button type="reset">RESET</button>
            </div>
        </form>

        <br>
        <a href="{{ url_for('main.index') }}">Back to Login</a>
    </div>

    <footer class="footer">
        <p>Copyright www.boxoffice.com</p>
    </footer>
</body>
</html>
